
/* Kelas untuk menyembunyikan scrollbar tapi tetap bisa discroll */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE dan Edge */
    scrollbar-width: none;  /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none; /* Chrome, Safari, dan Opera */
}
/* --- RESPONSIVE BASE --- */

/* Default untuk Laptop/PC (Layar Besar) */
html {
  font-size: 16px;
}

/* Untuk Tablet (Layar Sedang) */
@media screen and (max-width: 1024px) {
  html {
    font-size: 15px;
  }
}

/* Untuk HP (Layar Kecil) */
@media screen and (max-width: 768px) {
  html {
    font-size: 14px; /* Font lebih kecil agar muat di layar sempit */
  }
  
  /* Contoh: Sembunyikan scrollbar HANYA di HP agar lebih rapi */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}